// 공통 부분
body {
  background: #e5e5e5;
  color: #333333;
  line-height: 1.6;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  display: block;
}
.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
// 타이머
.timeShow {

  .stopwatch {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    min-height: 55px;
    position: relative;

    .timecounter {
      position: absolute;
      left: 100px;
      h1#time {
        display: block;
        width: 100%;
        color: #fff;
        background: #999;
        font-size: 32px;
        padding: 0 10px;
        line-height: 40px;
        font-family: 'Pathway Gothic One', sans-serif;
        text-align: center;
        font-weight: normal;
        } 
      }

    .sec1 {
      position: absolute;
      left: 220px;
      #button1 {
        display: inline-block;
        width: 80px;
        height: 40px;
        border: 1px solid #CCC;
        box-sizing: border-box;
        margin: 0 0 0 5px;
        cursor: pointer;
        font-size: 20px;
        }
      #buttonstart {
        display: inline-block;
        width: 80px;
        height: 40px;
        border: 1px solid #CCC;
        box-sizing: border-box;
        margin: 0 0 0 5px;
        cursor: pointer;
        font-size: 20px;
        background-color: red;
      } 
      }           
    }  
}
.main {
  width: 100%;
  padding: 25px;
  background-color: #fff;
}
.toolbox-wrapper {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #b2b2b2;
  #tools-box {
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    padding: 5px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
  }
}
.showtimer, .showset {
  color: #666;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.setswrapper {
  width: 420px;
  height: auto;
  margin: 0 auto;
  min-height: 55px;
  text-align: center;
  .set {
    display: inline-block;
    width: 50px;
    height: 40px;
    line-height: 40px;
    margin: 0 2px 2px 0;
    background-color: gray;
    color: #fff;
    cursor: pointer;
  }
  .set.on {
    background-color: red;
  }
}
.infobox {
  position: relative;
  overflow: hidden;
  padding: 20px 0 0 0;
  margin: -5px 0 0 0;
  width: 100%;
  background: #e8e8e8 url(/images/infobox/infobox.png);
  background-repeat: repeat-x;
  .infobox-map {
    width: 33%;
    float: left;
    background: #e8e8e8 url(/images/infobox/ww.jpg);
    background-repeat: no-repeat;
    padding-left: 80px;
  }
  .infobox-works {
    width: 20%;
    float: left;
  }
  .infobox-focus {
    width: 20%;
    float: left;
  }
  .infobox-difficulty {
    width: 20%;
    float: left;
  }
}
// /공통 부분


// 메인 홈페이지 위에 메뉴
.header {
  height: 70px;
  margin-bottom: 5px;
  
  // 로고
  .logo {
    display: block;
    height: 55px;
    float: left;
    padding: 14px 5px 0 0;
  }

  // 북마크
  .bookmarks {
    display: inline-block;
    position: absolute;
    right: 0; 
    top: 0;
  }

  // 상단
  .topmenu  {
    display: block;
    
    ul {
      display: block;
      font-family: 'Pathway Gothic One', sans-serif;
      float: right;
      letter-spacing: 2px;
      text-transform: uppercase;

      li{
        display: inline-block;
        height: 43px;
        box-sizing: border-box;
        position: relative;
        right: 250px;
        top: 10px;
        margin: 0 0 0 60px;

        a {
          width: 100%;
          font-size: 32px;
          padding: 0 30px;
          color: #141414;
          box-sizing: border-box;
        }

        a:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -10px;
          width: 0;
          height: 3px;
          background-color: red;
          transition: all .3s;
        }
        a:hover:after {
          width: 50%
        }
        a:before {
          content: "";
          position: absolute;
          right: 50%;
          bottom: -10px;
          width: 0;
          height: 3px;
          background-color: red;
          transition: all .3s;
        }
        a:hover:before {
          width: 50%;
        }
      }

    }
    
  }

}

// 메인 홈페이지 중앙 메뉴
.homepage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  
  #exercise {
    grid-row: 1 / 3;
  }
}

// 메인 홈페이지 하단 메뉴
.footer {
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  color: #141414;
  font-family: cursive;
  font-size: 32px;
}

// 데일리 페이지
.daily {

  figure.item_image {
    background-image: url(https://darebee.com/templates/darebee/images/dailydare.jpg);
    text-align: center;
  }

  .timerbody {
    min-height: 30px;
    display: block;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #b2b2b2;
    font-family: 'Roboto Slab', serif;
  
    .timerbox {
      text-align: center;
      margin: 0 auto;
      width: 420px;
  
      a {
        color: #666;
        font-weight: bold;
        font-size: 12px;
        display: inline-block;
      }
    }
  }
}

// 워크아웃 메인 화면
.workouts_main {

  .item_category {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      padding-right: 0.5%;
      padding-top: 0.5%;
      width: 24%;
    }

  }
}
// 워크아웃 1
.workout1 {

  figure.item_image {
    background-image: url(/images/darebg.jpg);
    text-align: center;
  }
  
  .timecounter {
    margin-left: 40px;
  }
  .sec1 {
    margin-left: 30px;
  }
}
.workout2 {
  figure.item_image {
    background-image: url(/images/darebg.jpg);
    text-align: center;
  }
  #tools-box {
    display: block; 
    text-align: center;
    padding: 5px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .timecounter {
    margin-left: 40px;
  }
  .sec1 {
    margin-left: 30px;
  }
}